/*
  The purpose of this file is to be always empty (but leave this comments!).

  If you are a dev who don't know much about CSS organization and you NEED
  to commit some CSS, commit it in THIS FILE. Then ask someone who know how to
  organize it to put it in the right place.
*/

a {
  text-decoration: none;
  color: inherit;
}

input {
  height: 40px;
  width: 400px;
  font-size: 20px;
}
