<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {{ content }}
    {% include footer.html %}

    <script src="js/zepto.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/html" id="template-event">
      <div class="ev-event">
        <div class="ev-event__col ev-event__col--info">
          <div class="ev-event__title"><%= name %></div>
          <div class="ev-event__description"><span class="ev-event__label">Descrição do evento:</span><%= description %></div>
          <div class="u-row">
            <div class="u-col">
              <div class="ev-event__price"><span class="ev-event__label">Valor:</span><%= price %></div>
            </div>
            <div class="u-col">
              <div class="ev-event__date"><span class="ev-event__label">Data:</span><%= date %></div>
            </div>
            <div class="u-col">
              <div class="ev-event__time"><span class="ev-event__label">Horário:</span><%= time %></div>
            </div>
          </div>
          <div class="ev-event__location"><span class="ev-event__label">Local:</span><%= location %></div>
        </div>
        <div class="ev-event__col ev-event__col--image">
          <img src="<%= img %>" class="ev-event__image">
        </div>
      </div>
    </script>
  </body>

</html>
